@import "compass/reset";
@import "compass/css3";
@import "animate/shared";

$support-for-original-webkit-gradients : false;
$experimental-support-for-opera : false;
$experimental-support-for-microsoft : false;
$experimental-support-for-khtml : false;

