@import "compass/reset";

@import "compass/css3";
@import "compass/css3/user-interface";

$support-for-original-webkit-gradients : false;
$experimental-support-for-opera : false;
//$experimental-support-for-microsoft : false;
$experimental-support-for-khtml : false;

// https://github.com/ericam/compass-animation
@import "animation"; 
// https://github.com/jhardy/compass-ceaser-easing
@import "ceaser-easing";
// https://github.com/adamstac/animate.sass
@import "animate/shared";


