
$moui_text_color: #252525;
$moui_desc_color: #8e8e8e;
$moui_border_color: #efefef;
$moui_bg_color: #f2f2f2;
$moui_active_color: #006ae2;
$moui_highlight_color: rgba(0, 119, 220, 0.2);
$moui_notice_color: #df5001;

$moui_hdtitle_size: 40px/2;
$moui_article_size: 40px/2;
$moui_maintitle_size: 30px/2;
$moui_btn_size: 30px/2;
$moui_title_size: 26px/2;
$moui_text_size: 22px/2;

$moui_btn_h: 58px/2;
$moui_bigbtn_h: 78px/2;
$moui_nav_h: 85px/2;

$moui_radius: 6px/2;
$moui_space: 20px/2;
$moui_morespace: 30px/2;

$moui_z_item: 100;
$moui_z_view: 200;
$moui_z_overlay: 1000;
$moui_z_mask: 5000;
$moui_z_step: 10;

