
//TODO: change the following variable to your project directory
var publicDir = '/Users/dexteryy/code/douban/vagrant/shire-git/';

module.exports = {
    jsPublicDir: publicDir + 'static/js',
    cssPublicDir: publicDir + 'static/css',
    picsPublicDir: publicDir + 'pics'
};
