
//TODO: change the following variable to your project directory

module.exports = {
    //staticDir: 'public/static/component',
    jsStaticDir: 'public/static/js/cardkit',
    cssStaticDir: 'public/static/css/cardkit',
    assetStaticDir: 'public/static/pics/cardkit'
};

