
.moui-modalview {
  display:none;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: $moui_z_overlay + $moui_z_step;
  @include user-select(none);

  .wrapper {
    @include transform(translateY(100%));
    @include transition(transform 0.4s);

    & > header {
      height: $moui_nav_h;
      background:#dfdfdf;
      border-bottom:1px solid rgba(0,0,0,.2);
      z-index:$moui_z_step;
      @include user-select(none);
      position:fixed;
      top:0;
      left:0;
      width:100%;
      @include border-radius($moui_radius $moui_radius 0 0);
      @include box-shadow(0 1px 2px rgba(0,0,0,.1));

      $_padding: 15px/2;

      h1 {
        font-size:$moui_article_size;
        line-height: $moui_nav_h;
        text-align:center;
        display:block;
        margin:0 55px + $_padding*2;
      }

      button.confirm, button.cancel {
        @extend %moui-button;
        width:55px;
        margin:$_padding 0 0 $_padding;
        float:left;
      }

      button.confirm {
        margin:$_padding $_padding 0 0;
        float:right;
      }

    }

    & > article {
      height:1000px;
      background:$moui_bg_color;
      overflow-y:scroll;
      -webkit-overflow-scrolling: touch;

      & > .content {
        padding:$moui_nav_h 0 0 0;
        min-height:2000px;
      }

    }

  }

  .shd {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }

  &.rendered {
    display:block;
  }

  &.active {

    .wrapper {
      @include transform(translateY(0));
    }

  }

  &.loading {

    button.confirm {
      opacity:.2;
    }

    .wrapper > article > .content {
      opacity:0;
    }

  }

}
