
.moui-modalview {
  display:none;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: $zindex_overlay + $zindex_step;
  @include user-select(none);

  .wrapper {
    @include transform(translateY(100%));
    @include transition(transform 0.4s);

    & > header {
      height: $nav_height;
      background:#dfdfdf;
      border-bottom:1px solid rgba(0,0,0,.2);
      z-index:$zindex_step;
      @include user-select(none);
      position:fixed;
      top:0;
      left:0;
      width:100%;
      @include border-radius($radius $radius 0 0);
      @include box-shadow(0 1px 2px rgba(0,0,0,.1));

      $padding: 15px/2;

      h1 {
        font-size:$article_size;
        line-height: $nav_height;
        text-align:center;
        display:block;
        margin:0 55px + $padding*2;
      }

      button.confirm, button.cancel {
        @extend %button;
        width:55px;
        margin:$padding 0 0 $padding;
        float:left;
      }

      button.confirm {
        margin:$padding $padding 0 0;
        float:right;
      }

    }

    & > article {
      height:1000px;
      background:$view_color;
      overflow-y:scroll;
      -webkit-overflow-scrolling: touch;

      & > .content {
        padding:$nav_height 0 0 0;
        min-height:2000px;
      }

    }

  }

  .shd {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }

  &.rendered {
    display:block;
  }

  &.active {

    .wrapper {
      @include transform(translateY(0));
    }

  }

}

body.no-cardscroll {

  .moui-modalview {
    position:relative;
    overflow:hidden;

    .wrapper {
      //@include transition(none);
      //@include transform(translateY(0));
    
      & > article {
        -webkit-overflow-scrolling: auto;
        overflow-y:visible;
        height:auto;

        & > .content {
          min-height:0;
        }

      }

    }

  }

}
