
.moui-modal-dialog {
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: $moui_z_overlay + $moui_z_step * 2;
  overflow:auto;
  @include flex-direction(column);
  @include justify-content(center);

  .wrapper {
    position:relative;
    background:#fff;
    width:460px;
    margin:0 auto 0 auto;
    @include flex(0 0 auto);
    opacity:0;
    @include transform(translateY(100px));
    @include transition(transform 0.3s, opacity 0.3s);

    & > header {
      //padding:10px;
      border-bottom:1px solid $moui_border_color;
      overflow:hidden;

      h1 {
        font-size:16px;
        text-align:center;
        line-height:$moui_bigbtn_h;
        height:$moui_bigbtn_h;
      }

      button.confirm, 
      button.cancel {
        @extend %moui-reset-btn;
        font-size:14px;
        line-height:$moui_bigbtn_h;
        height:$moui_bigbtn_h;
        padding:0 20px;

        &:hover {
          background:$moui_highlight_color;
        }

      }

      button.cancel {
        border-right:1px solid $moui_border_color;
        float:left;
      }

      button.confirm {
        border-left:1px solid $moui_border_color;
        float:right;
      }

    }

    & > article {

      & > .content {
      }

    }

  }

  .shd {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(13,13,13,0.5);
    opacity:0;
    @include transition(opacity 0.5s);
  }

  &.rendered {
    display:block;
    @include display-flex(flex);
  }

  &.active {

    .shd {
      opacity:1;
    }

    .wrapper {
      opacity:1;
      @include transform(translateY(0));
    }

  }

}

