@import "compass/css3";
@import "ceaser-easing";

.moui-bubble {
  display:inline;
  opacity:0;
  position:absolute;
  z-index:100;
  @include transform(scale(0));
  @include transition(
    transform 0.4s ceaser('easeOutBack'),
    opacity 0.4s ease-in-out
  );

  .moui-content {
    display:inline-block;
    max-width:300px;
    padding:22px;
    border:5px solid #666;
    border-radius:20px;
    background:#ffc;
    color:#333;
    font-size:18px;
  }

  .moui-arrow {
    width: 0px;
    height: 0px;
    border-style: solid;
    position:absolute;

    div {
      width: 0px;
      height: 0px;
      border-style: solid;
      position:absolute;
    }

  }

  &.active {
    opacity:1;
    @include transform(scale(1));
  }

  &.top-arrow {
    padding: 40px 0 0 0;
    margin: 20px 0 0 0;

    &.active {
      //margin-top:20px;
    }

    .moui-arrow {
      border-width: 0 20px 40px 20px;
      border-color: transparent transparent #666 transparent;

      div {
        border-width: 0 20px 40px 20px;
        border-color: transparent transparent #ffc transparent;
        top: 10px;
        left: -20px;
      }

    }

    &.left-align {
      margin-left:-30px;
      @include transform-origin(20%, 0%);

      .moui-arrow {
        top: 0;
        left: 30px;
      }

    }

    &.center-align {
      @include transform-origin(50%, 0%);
    
      .moui-arrow {
        top: 0;
        left: 50%;
        margin-left:-20px;
      }

    }

    &.right-align {
      margin-left:30px;
      @include transform-origin(80%, 0%);

      .moui-arrow {
        top: 0;
        right: 30px;
      }

    }

  }

  &.bottom-arrow {
    padding: 0 0 40px 0;
    margin: -20px 0 0 0;

    &.active {
      //margin-top:-20px;
    }

    .moui-arrow {
      border-width: 40px 20px 0 20px;
      border-color: #666 transparent transparent transparent;

      div {
        border-width: 40px 20px 0 20px;
        border-color: #ffc transparent transparent transparent;
        bottom: 10px;
        left: -20px;
      }

    }

    &.left-align {
      margin-left:-30px;
      @include transform-origin(20%, 100%);

      .moui-arrow {
        bottom: 0;
        left: 30px;
      }

    }

    &.center-align {
      @include transform-origin(50%, 100%);
    
      .moui-arrow {
        bottom: 0;
        left: 50%;
        margin-left:-20px;
      }

    }

    &.right-align {
      margin-left:30px;
      @include transform-origin(80%, 100%);

      .moui-arrow {
        bottom: 0;
        right: 30px;
      }

    }


  }

  &.left-arrow {
    padding: 0 0 0 40px;
    margin: 0 0 0 20px;

    &.active {
      //margin-left:20px;
    }

    .moui-arrow {
      border-width: 20px 40px 20px 0;
      border-color: transparent #666 transparent transparent;

      div {
        border-width: 20px 40px 20px 0;
        border-color: transparent #ffc transparent transparent;
        left: 10px;
        top: -20px;
      }

    }

    &.top-align {
      margin-top:-30px;
      @include transform-origin(0%, 20%);
    
      .moui-arrow {
        left: 0;
        top: 30px;
      }

    }

    &.center-align {
      @include transform-origin(0%, 50%);
    
      .moui-arrow {
        left: 0;
        top: 50%;
        margin-top:-20px;
      }

    }

    &.bottom-align {
      margin-top:30px;
      @include transform-origin(0%, 80%);
    
      .moui-arrow {
        left: 0;
        bottom: 30px;
      }

    }

  }

  &.right-arrow {
    padding: 0 40px 0 0;
    margin: 0 0 0 -20px;

    &.active {
      //margin-left:-20px;
    }

    .moui-arrow {
      border-width: 20px 0 20px 40px;
      border-color: transparent transparent transparent #666;

      div {
        border-width: 20px 0 20px 40px;
        border-color: transparent transparent transparent #ffc;
        right: 10px;
        top: -20px;
      }

    }

    &.top-align {
      margin-top:-30px;
      @include transform-origin(100%, 20%);
    
      .moui-arrow {
        right: 0;
        top: 30px;
      }

    }

    &.center-align {
      @include transform-origin(100%, 50%);
    
      .moui-arrow {
        right: 0;
        top: 50%;
        margin-top:-20px;
      }

    }

    &.bottom-align {
      margin-top:30px;
      @include transform-origin(100%, 80%);
    
      .moui-arrow {
        right: 0;
        bottom: 30px;
      }

    }

  }

}

