@import "moui/base/default";
@import "cardkit/lib";

$headtitle_size: 40px/2; // 文章正文
$article_size: 34px/2; // 文章正文
$maintitle_size: 30px/2; // 标题
$title_size: 26px/2;  // 按钮
$text_size: 22px/2; // 内容

$top_btn_size: 48px/2;

$text_space: 40px/2;

