
.ck-card {
  display:none;
  width:100%;
  height:100%;
  background:$view_color;
  @include box-shadow(1px 0px 2px rgba(0,0,0,.1));
  @include user-select(none);
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;

  //.ck-wrapper & > *:first-child {
    //margin-top:$nav_height + $space*2;
  //}

  .ck-footer {
    display:block;
  }

  .ck-top-tips {
    text-align:center;
    font-size:$title_size;
    color:#999;
    height:$nav_height + 2px;
    line-height:$nav_height + 2px;
    width:100%;
    opacity:0;
    @include transition(opacity 0.1s ease 0.3s);

    body.ck-topbar-enabled & {
      opacity:1;
    }

  }

  .ckd-top-create {
    display:none;
  }

  &.moving {
    position:absolute!important;
    top:0;
    left:0;
    z-index:$zindex_view;
  }

  body.no-cardscroll & {
    -webkit-overflow-scrolling: auto;
    overflow-y:visible;
  }

}

// 默认首屏视图
#ckDefault {

}

.ck-loading {
  display:block;
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  background:$view_color;
  font-size:$headtitle_size;
  color:$desc_color;
  text-align:center;
  overflow-y:visible;

  div {
    display:block;
    margin:0;
    width:100%;
    position:fixed;
    bottom:50px;
    left:0;
    padding:5px 0;
    //@include display-box;
    //@include box-orient(vertical);
    //@include box-pack(center);
    //@include box-align(center);
    //@include box-direction(reverse);
  }

  span {
    width:20px;
    height:20px;
    background:#666;
    display:inline-block;
    margin:5px;
    font-size:0;
    @include border-radius(10px);
    @include transform-origin(50% 50%);
    @include animation(loading-dot 1.5s steps(1, start) 0.5s infinite);

    &:first-child {
      @include animation(loading-dot 1.5s steps(1, start) 0s infinite);
    }

    &:last-child {
      @include animation(loading-dot 1.5s steps(1, start) 1s infinite);
    }

  }
  
  .ck-footer, .ck-top-tips {
    display:none;
  }

  body.no-cardscroll & {
    
    div {
      position:absolute;
    }

  }

}

.ck-cardmask {
  display:none;
  opacity:0;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000;
  padding-bottom:60px;
  z-index: $zindex_view - 1;

  &.moving {
    display:block;
  }

}


@include keyframes(loading-dot) {
  0% {
    background:#666;
    //@include transform(scale(1));
  }
  33% {
    background:#ccc;
    //@include transform(scale(0.8));
  }
  66% {
    background:#ccc;
    //@include transform(scale(0.8));
  }
  100% {
    background:#666;
    //@include transform(scale(1));
  }
}
