@import "moui/control/switch";
@import "moui/control/folder";

.ck-post-button {
  @extend %button;

  &.enabled {
    @extend %block-pressed;
  }

}

.ck-switch {
  @extend .moui-switch;
}

.ck-folder {
  @extend .moui-folder;
}

.ck-modal-button {
  @extend %button;
}

.ck-actions-button {
  @extend %button;
  span {
    background:$folder_icon no-repeat right center;
    background-size:10px;
    padding-right: 20px;
  }
  .option {
    display:none;
  }
}

.ck-growl-button {
  @extend %button;
}
