
// http://compass-style.org/reference/compass/support/
$support-for-original-webkit-gradients : false;
$experimental-support-for-opera : false;
$experimental-support-for-khtml : false;

$ck_view_color: $moui_bg_color;
$ck_view_border_color: #e6e6e6;
$ck_viewbg_color: #666;
$ck_top_btn_size: 80px/2;

