
html {
  -webkit-text-size-adjust: 100%;
}

body {
  font:$text_size Helvetica,sans-serif;
  color:$text_color;
  background:$view_color;
  line-height:1.6;
  @include user-select(none);

  &.bg {
    background: #666;
  }

  &.modal-view {

    .ck-root {
      @include box-shadow(0px 0px 10px rgba(0,0,0,.35));
      @include transform(scale(0.8));
    }

  }

}

pre {
  word-wrap: break-word;
}

//input,textarea,button{
  //@include appearance(none);
//}

a {
  text-decoration:none;
  color:$active_color;
  -webkit-tap-highlight-color: $highlight_color;
}

.ck-link {
  -webkit-touch-callout: none;
  @include user-select(none);
}

.ck-header {
  height: $nav_height;
  @include box-shadow(0 1px 2px rgba(0,0,0,.35));
  border-bottom:1px solid rgba(0,0,0,.2);
  z-index:$zindex_step;
  @include user-select(none);

  a {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  $top_btn_space: 1px;

  .opt {
    display:block;
    line-height:1;
    float:right;
    margin:$top_btn_space $top_btn_space 0 0;
    position:relative;
  }

  .ck-top-nav {
    float:left;
  }

  .ck-top-action {
  }

  .ck-top-create {
  }

}

.ck-top-title {
  font-size:$article_size;
  font-weight:bold;
  line-height: $nav_height;
  text-align:center;
  display:block;
  position:absolute;
  left: $space*4 + 20px;
  right: $space*4 + 20px;
  top:0;
}

.ck-root {
  @include transform-origin(50% 50%);
  //@include transform-style(preserve-3d);
  @include transition(transform 0.4s);
  
  .ck-header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#9e816a;
    z-index: $zindex_overlay;

    @include transform(translateY(-$nav_height));
    @include transition(transform 150ms);

    .ck-top-title {
      color:#fff;
      @include text-shadow(0px 1px 0px rgba(0,0,0,1));
    }

    .btn {
      display:inline-block;
      margin:0;
      padding:0;
      text-decoration:none;
      @include user-select(none);

      width:$top_btn_size;
      height:$top_btn_size;
      background:#fff;
      @include background(linear-gradient(bottom, #78624f, #846f5b));
      background-size:24px;
      background-repeat:no-repeat;
      background-position:7px 7px;
      border:1px solid transparent;
      &:active {
          @include box-shadow(inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1));
      }
    }

    .ck-top-nav .btn {
      background-image:inline-image('menu.png');
    }

    .ck-top-action .btn {
      background-image:inline-image('more.png');
    }

    .ck-top-create .btn {
      background-image:inline-image('compose.png');
    }

    .ck-top-create .btn.reply {
      background-image:inline-image('reply.png');
    }

    body.ck-topbar-enabled & {
        @include transform(translateY(0));
    }

  }

}

.ck-wrapper {
  width:100%;

  &.inited { 

  }

}

.ck-footer {
  display:none;
  height:15px;
  margin:30px 0 0 0;
  padding:0 0 15px 0;
  background:$view_color;
  text-align:center;
  
  .copyright {
    font-size:$text_size;
    color:$desc_color;
    margin:5px 0;
  }

}

.ck-viewmask {
  display:none;
  opacity:0;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding-bottom:60px;
  z-index: $zindex_mask;
}

.ck-raw {
  display:none;
}

body.no-overflowscroll {

  &.bg {

    background:$view_color;
    //.ck-wrapper {
      //position:fixed;
      //top:0;
      //left:0;
    //}

  }

  &.modal-view {

    .ck-root {
      @include transform(scale(1));
    }

    .ck-wrapper {
      display:none;
    }

  }

}
