
html {
  -webkit-text-size-adjust: 100%;
}

body {
  font:$text_size Helvetica,sans-serif;
  color:$text_color;
  background:$view_color;
  line-height:1.6;
  @include user-select(none);
  width:100%;
  overflow-x:hidden;

  &.bg {
    background: #666;
  }

  &.modal-view {

    .ck-root {
      @include box-shadow(0px 0px 10px rgba(0,0,0,.35));
      @include transform(scale(0.8));
    }

  }

  &.fixed-bottom-buggy {
    position:relative;
  }

}

pre {
  word-wrap: break-word;
}

//input,textarea,button{
  //@include appearance(none);
//}

a {
  text-decoration:none;
  color:$active_color;
  -webkit-tap-highlight-color: $highlight_color;
}

.ck-link {
  -webkit-touch-callout: none;
  @include user-select(none);
}

.ck-header {
  height: $nav_height - 1px;
  @include box-shadow(0 1px 2px rgba(0,0,0,.35));
  border-bottom:1px solid rgba(0,0,0,.2);
  z-index:$zindex_step;
  @include user-select(none);

  a {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  $top_btn_space: 1px;

}

.ck-top-title {
  font-size:$article_size;
  font-weight:bold;
  line-height: $nav_height;
  text-align:center;
  display:block;
  position:absolute;
  left: $space*4 + 0px;
  right: $space*4 + 20px;
  top:0;
}

.ck-root {
  @include transform-origin(50% 50%);
  //@include transform-style(preserve-3d);
  @include transition(transform 0.4s);
  
  .ck-header {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background:#9e816a;
    z-index: $zindex_overlay;

    @include transform(translateY(-$nav_height));
    @include transition(transform 150ms);

    body.no-cardscroll.ck-inited & {
      position:fixed;
    }

    .ck-top-title {
      color:#fff;
      @include text-shadow(0px 1px 0px rgba(0,0,0,1));
    }

    .ck-top-actions .ck-item,
    .ck-top-nav {
      float:right;
      display:inline-block;
      margin:0;
      padding:0;
      text-decoration:none;
      text-indent:-200px;
      @include box-shadow(none);
      @include user-select(none);

      width:$top_btn_size;
      height:$top_btn_size;
      background:#fff;
      @include background(linear-gradient(bottom, #78624f, #846f5b));
      background-size:24px;
      background-repeat:no-repeat;
      background-position:7px 7px;
      border:1px solid transparent;
      &:active {
          @include box-shadow(inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1));
      }
    }

    .ck-top-nav {
      float:left;
      background-image:inline-image('menu.png');
    }

    .ck-top-actions .ck-top-overflow {
      background-image:inline-image('more.png');
    }

    .ck-top-action, // deprecated
    .ck-top-create, // deprecated
    .ck-top-overflow-items {
      display:none;
    }

    body.ck-topbar-enabled & {
        @include transform(translateY(0));
    }

    body.hide-toolbars & {
      display:none;
    }

  }

}

.ck-wrapper {
  width:100%;

  &.inited { 

  }

}

.ck-footer {
  display:none;
  height:15px;
  margin:30px 0 0 0;
  padding:0 0 15px 0;
  background:$view_color;
  text-align:center;
  
  .copyright {
    font-size:$text_size;
    color:$desc_color;
    margin:5px 0;
  }

  body.has_ctlbar & {
    height:15px + $nav_height;
  }

}

.ckcfg-navdrawer,
.ckcfg-actionbar {
  display:none;
}

.ck-ctl-bar {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height: $nav_height;
  background:#454545;
  border-bottom:1px solid rgba(0,0,0,0.2);
  z-index: $zindex_overlay;
  @include transform(translateY($nav_height));
  @include transition(transform 150ms);

  input {
    display:inline-block;
    margin:0;
    padding:0;
    width: (110px/2);
    height: $nav_height;
    border:none;
    margin:0;
    @include appearance(none);
    @include user-select(none);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: {
      repeat: no-repeat;
      position:center;
      size:24px;
      color:transparent;
    }

    &.disabled,
    &:active {
      opacity: .3;
    }

  }

  .ck-topbar-enabled & {
    @include transform(translateY(0));
  }

  body.no-cardscroll & {
    position:fixed;
  }

}

.ck-ctl-backward {
  background-image: inline-image('arrow_l.png');
}
.ck-ctl-forward {
  background-image: inline-image('arrow_r.png');
}
.ck-ctl-reload {
  background-image: inline-image('refresh.png');
  float:right;
}

.ck-viewmask {
  display:none;
  opacity:0;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding-bottom:60px;
  z-index: $zindex_mask;
}

.ck-raw {
  display:none;
}

body.no-cardscroll {

  &.bg {

    background:$view_color;
    //.ck-wrapper {
      //position:fixed;
      //top:0;
      //left:0;
    //}

  }

  &.modal-view {

    .ck-root {
      @include transform(scale(1));
    }

    .ck-wrapper {
      display:none;
    }

  }

}
