
.ck-modalview {
  @extend .moui-modalview;

  & > header {
    @extend .ck-header;

    h1 {
      @extend .ck-top-title;
    }

  }

}

.ck-actionview {
  @extend .moui-actionview;

  .wrapper {

    .content {

      & > article {

        .ck-option {
          @extend %moui-action-option;
        }

      }

    }

  }

}

.ck-growl {
  @extend .moui-growl;
}

body.no-cardscroll {

  .ck-modalview {
    position:relative;
    overflow:hidden;

    .wrapper {
      //@include transition(none);
      //@include transform(translateY(0));
    
      & > article {
        -webkit-overflow-scrolling: auto;
        overflow-y:visible;
        height:auto;

        & > .content {
          min-height:0;
        }

      }

    }

  }

}
