@import 'moui/modalview/default';
@import 'moui/actionview/default';
@import 'moui/growl/default';

.ck-modalview {
  @extend .moui-modalview;

  & > header {
    @extend .ck-header;

    h1 {
      @extend .ck-top-title;
    }

  }

  .no-overflow-scrolling & .wrapper > article {
    overflow-y:scroll;
  }

}

.ck-actionview {
  @extend .moui-actionview;

  .ck-option {
    @extend %action-option;
  }

}

.ck-growl {
  @extend .moui-growl;
}
