
.ck-segment {
  @extend .moui-segment;
  .ck-option {
    @extend %moui-segment-option;
  }
}

.ck-tagselector {
  @extend .moui-tagselector;
  .ck-option {
    @extend %moui-tag-option;
  }
}

.ck-actions {
  @extend .moui-actions;
}

.ck-ranger {
  width:100%;
  padding: 10px 0;
}

.ck-stars {
  @extend .moui-slider;
  height:25px;
  width:125px;
  background-image:inline-image('star_gray_50.png');
  background-size:25px;
  background-repeat:repeat-x;
  .slider-selected,
  .slider-hover {
    height:25px;
    background-repeat:repeat-x;
    background-size:25px;
  }
  .slider-selected {
    background-image:inline-image('star_50.png');
  }
  .slider-hover {
    background-image:inline-image('star_50.png');
  }
}
