@import "moui/picker/segment";
@import "moui/picker/tags";
@import "moui/picker/actions";
@import "moui/picker/slider";

.ck-segment {
  @extend .moui-segment;
  .ck-option {
    @extend .option;
  }
}

.ck-tagselector {
  @extend .moui-tagselector;
  .ck-option {
    @extend .option;
  }
}

.ck-actions {
  @extend .moui-actions;
}

.ck-stars {
  @extend .moui-slider;
  height:25px;
  width:125px;
  background-image:inline-image('star_gray_50.png');
  background-size:25px;
  background-repeat:repeat-x;
  .slider-selected,
  .slider-hover {
    height:25px;
    background-repeat:repeat-x;
    background-size:25px;
  }
  .slider-selected {
    background-image:inline-image('star_50.png');
  }
  .slider-hover {
    background-image:inline-image('star_50.png');
  }
}
