
%ck-unit {
  //overflow:hidden;
  margin:$space;
  background-color:#fff;
  border:1px solid rgb(255,255,255);
  @include border-radius($radius);
  @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, .2));

  & > article > header {
    @extend %item;

    .ck-link, & > span {
      @extend %item-inner;
    }

    .ck-link {
      @extend %more-link;

      &:active {
        @extend %item-inner-active;
      }

    }

  }

  & > article > footer {
    @extend %info-text;
    border-top:1px solid $border_color;
    margin:0 15px;
    padding:($space) 0;
  }

}

%item {
  border-bottom:1px solid $border_color;
  margin:0 15px;
  padding:($space/2) 0;
}

%item-inner {
  overflow:hidden;
  padding:($space/2) 0;
  font-size:$maintitle_size;
  color:$text_color;
  display:block;
}

%item-inverse {
  background:$active_color!important;
  color:#fff;
}

%item-inner-active {
  @extend %item-inverse;
  @include border-radius($radius);
  padding-left:10px;
  padding-right:10px;
  margin-left:-20px;
  @include transform(translateX(10px));
}

%more-link {
  background: {
    image: inline-image('drawer_icon.png');
    repeat: no-repeat;
    position: right;
    size: 5.5px 10px;
  }
}

%info-text {
  font-size:$text_size;
  color:$desc_color;
}


.ck-box-unit {

  &:not([data-cfg-paper]) {
    @extend %ck-unit;
    //overflow:visible;

    & > article > header {
      border-bottom:0;
    }

    & > article > footer {
      margin-top:(28px/2);
    }

  }

  & > article > section {
    border-top:1px solid $border_color;
    margin:0 $text_space;
    padding:(28px/2) 0 0 0;
    font-size:$title_size;

    &:first-child {
      padding-top:(28px/2);
      border-top:0;
    }

    &:last-child {
      padding-bottom:(28px/2);
    }

  }

  &[data-cfg-plain] {
    padding:0;
    background:none;
    border:none;
    @include border-radius(0);
    @include box-shadow(none);

    & > article > header {
      padding:0;
      margin-left:0;
      margin-right:0;

      & > span {
        padding:0;
      }
    }

    & > article > footer {
      padding:0;
      margin-left:0;
      margin-right:0;
    }

    & > article > section {
      margin:0;
      padding-left:$text_space;
      padding-right:$text_space;

      &:first-child {
        padding-top:0;
        padding-bottom:0;
      }

    }

  }

  &[data-cfg-paper] {
    margin:$space;
    padding:0 0 ($space) 0;
    border-bottom:1px solid $border_color;

    & > article > header {
      //border-bottom:1px solid $border_color;
      padding:0 0 $space 0;
      line-height:1.6;
      @include user-select(text);

      .ck-link, & > span {
        font-size: $headtitle_size;
      }

    }

    & > article > section {
      padding:40px 0 $space 0;
      margin:0;
      font-size:$article_size;
      line-height:(54px/2);
      font-size:(34px/2);
      @include user-select(text);

      p {
        padding:0 0 (50px/2) 0;
      }

    }

  }

}


.ck-list-unit {
  @extend %ck-unit;

  .ck-item {
    @extend %item;

    &:last-child {
      border:none;
    }

    &.blank {
      text-align:center;

      .ck-initem {
        background:none;
      }

    }

  }

  .ck-initem {
    @extend %item-inner;

    &.ck-link:active {
      @extend %item-inner-active;

      .ck-info, .ck-subtitle {
        color:#ccc;
      }

    }

  }

  .ck-icon {
    width:(60px / 2);
    min-height:30px;
    background:#666;
    float:left;
    margin:0 10px 0 0;
  }

  .ck-info {
    @extend %info-text;
    float:right;
    margin-left:10px;
  }

  .ck-title, .ck-initem .ck-link {
    font-size:$title_size;
    display:block;
    line-height:1.4;
  }

  .ck-title {
    padding-right:10px;
  }

  .ck-subtitle {
    @extend %info-text;
    display:block;
    line-height:1.3;
  }

  .ck-content {
    font-size:$title_size;
    display:block;
  }

  .ck-meta {
    @extend %info-text;
  }

  &[data-style="more"] {

    .ck-info, .ck-icon, .ck-subtitle {
      display:none;
    }

    .ck-initem {
      @extend %more-link;

    }

    .ck-title {
      font-size:$maintitle_size;
    }
  
  }

  &[data-style="menu"] {

    .ck-icon, .ck-subtitle, .ck-meta, .ck-content {
      display:none;
    }

  }

  &[data-style="post"] {
  
  }

  &[data-style="grid"] {
  
    .ck-info, .ck-subtitle, .ck-meta, .ck-content {
      display:none;
    }

    & > article > ul {
      overflow:hidden;
      margin:0 15px;
      padding:10px 0;
      border-bottom:1px solid $border_color;

      &:last-child {
        border-bottom:none;
      }

    }

    footer {
      border-top:none;
    }

    .ck-item {
      float:left;
      padding:0;
      margin:0;
      border:none;
      text-align:center;
    }

    .ck-initem {
      margin:0;
      padding:($space/2) 5px;

      &.ck-link:active {
        padding:($space/2) 5px;
        margin:0;
        @include transform(translateX(0));
      }
    }

    .ck-icon {
      float:none;
      margin:0;
    }

    .ck-title {
      padding:0;
    }
  
  }

}


.ck-mini-unit {
  @extend %ck-unit;

  .ck-item {
    @extend %item;
    border:none;

    &.blank {
      text-align:center;
    }

  }

  .ck-title {
    font-size:$maintitle_size;
    line-height:1.4;
  }

  .ck-content {
    font-size:$title_size;
    padding:($space/2) 0;
  }

  .ck-info {
    @extend %info-text;
    display:block;
  }

  .ck-initem {
    overflow:hidden;
    border-top:1px solid #e3e3e3;
    padding:($space/2) 0;
  }

  .ck-icon {
    width:(60px / 2);
    min-height:30px;
    background:#666;
    float:left;
    margin:0 10px 0 0;
  }

  .ck-author {
    font-size:$title_size;
    display:block;
    line-height:1.4;
  }

  .ck-subtitle {
    @extend %info-text;
    display:block;
    line-height:1.3;
  }

  .ck-meta {
    @extend %info-text;
  }


  &[data-style="slide"] {

    & > article > header {
      border-bottom:none;
    }

    & > article > footer {
      border-top:none;
      padding:5px 0;
    }

    .ck-slide {
      background:$view_color;
      margin:0 10px;
      overflow:hidden;
      position:relative;
    }

    .ck-item {
      padding-left:10px;
      padding-right:10px;
      margin:0;
      position:absolute;
      top:0;
      left:0;
      background:$view_color;

      &.enable {
        position:relative;
        z-index:$zindex_step;
      }

      &.moving {
        z-index:$zindex_step*2;
      }

    }

    .ck-page {
      text-align:center;
    
      span {
        display:inline-block;
        margin:0 10px 0 0;
        width: (12px/2);
        height: (12px/2);
        @include border-radius(6px);
        background:#D6D6D6;
        border: solid 1px #b3b3b3;

        &.enable {
          background-color: #252525;
          border: solid 1px #0058ba;
          @include background-image(linear-gradient(bottom, #0084ff, #00a2ff));
        }

      }

    }


  }

}


.ck-form-unit {
  @extend %ck-unit;

  .ck-item {
    @extend %item;
    padding:$space 0;
    display:block;

    &:last-child {
      border:none;
    }

    &.blank {
      text-align:center;
    }

    p {
      margin:0 0 $space 0;

      &:last-child {
        margin-bottom:0;
      }

    }

    label {
      font-size:$maintitle_size;
      //margin:0 0 0 $space/2;
      @include user-select(text);

      em {
        color:$desc_color;
        font-size:$title_size;
        margin:0 0 0 $space/2;

        &:first-child {
          margin-left:0;
        }

      }

    }

    .ck-title {
      display:block;
      line-height:$maintitle_size;
      margin:0 0 $space 0;
    }

    input[type="text"], input[type="number"], input[type="password"], textarea {
      font-size:$title_size;
      color:$desc_color;
      text-indent:10px;
      width:100%;
      height:20px;
      line-height:20px;
      padding:((60px/2) - 20px) 0;
      border:1px solid rgb(185,185,185);
      @include box-shadow(inset 0px 2px 3px 0px rgba(0,0,0,0.15));
      @include border-radius($radius);
      @include user-select(text);
    }
    
    input[type="number"] {
        width: 80px;
    }

    textarea {
      height:(352px/2);
    }

  }

}


.ck-box-unit,
.ck-mini-unit,
.ck-list-unit,
.ck-form-unit {

  & > article > header {
    position:relative;
  }

  .ck-hdopt {
    display:inline-block;
    position:absolute;
    top:$space;
    right:0;
    font-size:$title_size;
    line-height:$button_height+2px;
    height:$button_height+2px;
    background:#fff;

    & > * {
      margin:0 5px;
    }

  }

  &[data-cfg-plain="true"],
  &[data-cfg-plainhd="true"] {

    .ck-hdopt {
      top:0;
      background:none;
    }

  }

  &[data-cfg-plainhd="true"] {
    position:relative;
    margin-top:($maintitle_size + $space*3);
  
    & > article > header {
      position:absolute;
      top:-($maintitle_size + $space*2);
      left:0;
      width:100%;
      padding:0;
      margin-left:0;
      margin-right:0;
      border:none;

      & > span {
        padding:0;
      }

    }

    & > article > section {
      border-top:none;
    }

  }

}

.ck-banner-unit {
  background:#fff;
  padding: $space/2;
  //margin-top: $nav_height;
  font-size:13px;
  border-bottom:1px solid rgba(0,0,0,.2);
  @include box-shadow(0 1px 2px rgba(0,0,0,.1));
  //($nav_height - $title_size - 20 + $space)
}

.ck-blank-unit {
  @extend %ck-unit;

  article {
    @extend %item;
    padding:$space 0;
    display:block;
    border:none;
    text-align:center;
    font-size:$maintitle_size;
  }

}
