
%ck-unit {
  margin:$space;
  word-wrap: break-word;
  //word-break: break-all;
  //@include user-select(text);

  .ck-unit-wrap {
    @extend %ck-unit-wrap;
  }

}

%ck-unit-wrap {
  background-color:#fff;
  border:1px solid rgb(255,255,255);
  @include border-radius($radius);
  @include box-shadow(0 0px 2px 0 rgba(0, 0, 0, .2));
  word-wrap: break-word;
}

%unit-parts {

  .ck-hd-wrap {
    @extend %item;
    position:relative;

    .ck-hd {
      padding:($space/2) 0;
      font-size:$maintitle_size;
      font-weight:bold;
      color:$text_color;
      display:block;
    }

    .ck-hd.clickable {
      @extend %more-link;
      position:relative;
    }

  }

  .ck-unit-wrap > footer {
    @extend %info-text;
    border-top:1px solid $border_color;
    margin:0 $morespace;
    padding:($space) 0;
  }

  &[data-cfg-plainhd="true"] {
    @extend %plain-hd-parts;
  }

}

%item {
  border-bottom:1px solid $border_color;
  margin:0 $morespace;
  padding:($space/2) 0;
}

%more-link {
  background: {
    image: inline-image('drawer_icon.png');
    repeat: no-repeat;
    position: right;
    size: 5.5px $space;
  }
}

%info-text {
  font-size:$text_size;
  color:$desc_color;
}

%plain-hd-parts {

  .ck-hd-wrap {
    @extend %plain-hd;
    padding:0;
    margin:$space 0;
    border:none;

    .ck-hd {
      overflow-x:scroll;
      -webkit-overflow-scrolling: touch;

      body.no-overflowscroll & {
        -webkit-overflow-scrolling: auto;
        overflow:visible;
      }

    }

  }

  .ck-unit-wrap > section {
    border-top:none;
  }

}

%plain-hd {

  .ck-hd {
    padding:0 $morespace 0 5px;
    background-origin: content-box;
    color:$desc_color;
    //font-weight:normal;
  }

  .ck-hdopt-wrap {
    top:-2px;
    background:$view_color;
  }

  .ck-link-mask {
    //padding:$space/2 0;
    //@include transform(translateX(0) translateY(-$space/2));
    padding:0;
    @include transform(translateX(0));
  }

}

%plain-unit {

  .ck-unit-wrap {
    padding:0;
    background:none;
    border:none;
    @include border-radius(0);
    @include box-shadow(none);

    & > footer {
      padding:$space 0 0 $space/2;
      margin-top:$morespace;
      margin-left:0;
      margin-right:0;
      border-color:$view_border_color;
    }

    & > section {
      margin:0;
      padding-left:$morespace;
      padding-right:$morespace;
      padding-bottom:0;
      border-color:$view_border_color;

      &:first-child {
        border-top:1px solid $view_border_color;
      }

      &:last-child {
        padding-bottom:0;
      }

    }

    &:first-child {

      & > section {
        padding-top:0;
        padding-bottom:0;
        border-top:0;
      }

    }

  }

  .ck-hd-wrap {
    @extend %plain-hd;
    padding:0;
    margin:$space 0;
  }

}

%paper-unit {
  margin:$morespace;

  .ck-unit-wrap {
    padding:0 0 ($space) 0;
    border-bottom:1px solid $view_border_color;
  }

  .ck-hd-wrap {
    //border-bottom:1px solid $view_border_color;
    //padding:0 0 $space 0;
    line-height:1.6;
    margin-bottom:$space;

    .ck-hd {
      font-size: $headtitle_size;
      line-height:1.4;
      font-weight:bold;
    }

    &:last-child {
      margin-bottom:0;
    }

  }

  .ck-unit-wrap > footer {
    border-color:$view_border_color;
  }

  .ck-item,
  .ck-unit-wrap > section {
    margin:0;
  }

  .ck-unit-wrap > section {
    border-color:$view_border_color;
    padding:40px 0 $space 0;
    //line-height:(54px/2);
    font-size:(34px/2);
    @include user-select(text);

    p {
      margin:0 0 (50px/2) 0;
    }

    &:first-child {
      border-top:0;
      padding:0;
    }

  }

  .ck-item {
    padding:$space 0;
    border-bottom:1px solid $view_border_color;
    @include user-select(text);

    &:first-child {
      //padding-top:0;
    }

    &:last-child {
      margin-bottom:$morespace;
    }

  }

  .ck-initem {
    padding:0;
  }

}

.ck-link-mask {
  display:block;
  width:100%;
  height:100%;
  padding:0 (($morespace + $space)/2);
  @include transform(translateX(-($morespace + $space)/2));
  //padding:0 (($morespace)/2);
  //@include transform(translateX(-($morespace)/2));
  @include border-radius($radius);
  position:absolute;
  top:0;
  left:0;
  z-index:$zindex_item;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  //-webkit-tap-highlight-color: $highlight_color;

  //&.ck-link-mask-active {
  &:active {
    background:$active_color;
    opacity:.4;
    z-index:$zindex_item + $zindex_step * 4;
  }

}

.ck-unit-wrap {
  -webkit-overflow-scrolling: touch;
  overflow:auto;

  body.no-overflowscroll & {
    -webkit-overflow-scrolling: auto;
    overflow:visible;
  }

}

.ck-hdopt-wrap {
  display:inline-block;
  position:absolute;
  top:$space/2 + 1px;
  right:0;
  z-index:$zindex_item + $zindex_step;
  font-size:$title_size;
  line-height:$button_height+2px;
  height:$button_height+2px;
  background:#fff;

  .ck-hdopt {
    margin:0 0 0 5px;
    position:relative;
  }

}

.ck-box-unit {

  &:not([data-cfg-paper]) {
    @extend %ck-unit;
    @extend %unit-parts;

    .ck-hd-wrap {
      border-bottom:0;
    }

  }

  .ck-unit-wrap > section {
    border-top:1px solid $border_color;
    margin:0 $morespace;
    padding:$morespace 0;
    font-size:$title_size;

    img {
      max-width:100%;
      margin:$space/2 auto;
      display:block;
    }

    &:first-child {
      border-top:0;
    }

  }

  &[data-cfg-plain] {
    @extend %plain-unit;
  }

  &[data-cfg-paper] {
    @extend %paper-unit;
  }

}


%list-parts {

  .ck-list-wrap {
    overflow:hidden;
  }

  .ck-item {

    &.blank {
      text-align:center;

      .ck-initem {
        background:none;
        padding:$space 0;
        color:$desc_color;
      }

    }

  }

  .ck-initem {
    position:relative;
    font-size: $text_size;
    padding:($space/2) 0;
    color:$text_color;
    display:block;
  }

  .ck-title-box {
    display:block;
    overflow:hidden;
  }

  .ck-author-box {
    display:block;
    overflow:hidden;
    margin:4px 0 0 0;
  }

  .ck-avatar,
  .ck-icon {
    float:left;
    margin:2px $space 0 0;

    img {
      width:(60px / 2);
      min-height:30px;
      background:#666;
      float:left;
    }

  }

  .ck-author-set,
  .ck-title-set {
    display:block;
    overflow:hidden;
    position:relative;
  }

  .ck-author-info-wrap,
  .ck-info-wrap {
    display:inline;
    @extend %info-text;
    position:absolute;
    bottom:0;
    right:0;
  }

  .ck-author-info,
  .ck-info {
    display:inline;
  }

  .ck-title-line {
    font-size:$title_size;
    line-height:1.2;
    display:block;
    margin:0 0 4px 0;
  }

  .ck-author-line {
    line-height:1.2;
    display:block;
    margin:0 0 4px 0;
  }

  a.ck-avatar img,
  a.ck-author {
    position:relative;
    z-index:$zindex_item + $zindex_step;
  }

  .ck-title-prefix,
  .ck-title-suffix,
  .ck-title,
  .ck-author-prefix,
  .ck-author-suffix,
  .ck-author {
    display:inline;
    margin:0 3px 0 0;
  }

  .ck-title-prefix,
  .ck-title-suffix,
  .ck-author-prefix,
  .ck-author-suffix {
    color:$desc_color;
  }

  .ck-title-tag {
    display:inline-block;
    font-size: $text_size;
    background:#ffc;
    padding:0px 2px;
    margin:0 3px 0 0;
    @include border-radius($radius);
  }

  .ck-desc-wrap,
  .ck-author-desc-wrap {
    @extend %info-text;
    display:block;
    line-height:1.2;
    margin:0 0 4px 0;
  }

  .ck-desc,
  .ck-author-desc {
    display:inline;
    margin:0 3px 0 0;
  }

  .ck-content-wrap,
  .ck-author-content-wrap {
    font-size:$title_size;
    display:block;
    line-height: 1.4;
    margin:0 0 4px 0;

    img {
      max-width:100%;
      margin:$space/2 auto;
      display:block;
    }

  }

  .ck-meta-wrap,
  .ck-author-meta-wrap {
    @extend %info-text;
  }

  .ck-meta,
  .ck-author-meta{
    display:inline;
    margin:0 3px 0 0;
  }

}

.ck-list-unit {
  @extend %list-parts;

  &:not([data-cfg-paper]):not([data-style="split"]) {
    @extend %ck-unit;
    @extend %unit-parts;

    .ck-item {
      @extend %item;

      &:last-child {
        border:none;
      }

    }

  }

  &[data-style="more"],
  &[data-style="menu"] {

    .ck-author-box, 
    .ck-meta-wrap, 
    .ck-content-wrap {
      display:none;
    }

  }

  &[data-style="more"] {

    .ck-icon,
    .ck-desc-wrap,
    .ck-info-wrap {
      display:none;
    } 

    .ck-title-line {
      font-size:$maintitle_size;
      padding-right:$space;
    }

    .ck-title {
      font-weight:bold;
      color:$text_color;
    }

    .clickable {

      .ck-initem {
        @extend %more-link;
      }

    }

  }

  &[data-style="menu"] {

  }

  &[data-style="grid"] {

    .ck-author-box, 
    .ck-info-wrap, 
    .ck-meta-wrap, 
    .ck-content-wrap {
      display:none;
    }

    .ck-list {
      overflow:hidden;
      margin:0 $morespace;
      padding:$space 0;
      border-bottom:1px solid $border_color;

      &:last-child {
        border-bottom:none;
      }

      .ck-item {
        float:left;
        padding:0;
        margin:0;
        border:none;
        text-align:center;
      }

      .ck-icon,
      .ck-icon img {
        float:none;
        margin:0;
      }

      .ck-title-line {
        padding:0;
      }

      .ck-desc-wrap {
        padding:5px 0 0 0;
      }
    
    }

    footer {
      border-top:none;
    }

    .ck-initem {
      margin:0;
      padding:0 5px;
    }

    .ck-link-mask {
      padding:$space/2 0;
      @include transform(translateY(-$space/2));
    }

  }

  &[data-style="split"] {
    @extend %unit-parts;
    @extend %plain-hd-parts;

    .ck-hd-wrap {
      margin-left: $space;
      margin-right: $space;
    }

    .ck-unit-wrap > footer {
      padding-top:0;
    }

    .ck-item {
      margin:$space;
      @extend %ck-unit-wrap;
      padding:5px 0;

      &:first-child {
        margin-top:0;
      }

    }

    .ck-initem {
      @extend %item;
      border:none;
      //padding:$space 0;
    }

    .ck-author-box {
      padding:$space 0 0 0;
      margin-top:$space;
      border-top:1px solid $border_color;
    }

  }

  &[data-cfg-paper] {
    @extend %paper-unit;
    margin-left:0;
    margin-right:0;

    .ck-unit-wrap {
      padding-bottom:0;
      border-bottom:none;
    }

    .ck-unit-wrap > footer,
    .ck-hd-wrap,
    .ck-list {
      margin-left:$morespace;
      margin-right:$morespace;
    }

    .ck-link-mask {
      padding:$space/2;
      @include transform(translateX(-$space/2) translateY(-$space/2));
    }

  }

}

.ck-mini-unit {
  @extend %list-parts;
  margin: $space 0;

  &[data-style="slide"] {
    @extend %unit-parts;
    @extend %plain-hd-parts;

    .ck-hd-wrap {
      margin-left: $space;
      margin-right: $space;
    }

    .ck-unit-wrap {
      overflow:hidden;
    }

    .ck-list-wrap {
      -webkit-overflow-scrolling: touch;

      &.slide {
        overflow-x:scroll;
        margin-bottom:-8px;

        .ck-list {
          width:5000px;
          padding:0 0 10px 0;
          overflow:hidden;
        }

        .ck-item {
          padding:5px 0;
          margin:0 0 0 10px;
          float:left;
        }

      }

      body.no-overflowscroll & {
        -webkit-overflow-scrolling: auto;
      }

      &.stop-scroll {
        -webkit-overflow-scrolling: auto;
      }

    }

    .ck-item {
      margin:0 $space 3px $space;
      @extend %ck-unit-wrap;
    }

    .ck-initem {
      @extend %item;
      border:none;
    }

    .ck-author-box {
      padding:$space 0 0 0;
      border-top:1px solid $border_color;
    }

  }

}


.ck-form-unit {
  @extend %ck-unit;
  @extend %unit-parts;

  .ck-item {
    @extend %item;
    padding:$space 0;
    display:block;

    &:first-child {
      padding-top:$morespace;
    }

    &:last-child {
      border:none;
      padding-bottom:$morespace;
    }

    &.blank {
      text-align:center;
      color:$desc_color;
    }

    p {
      margin:0 0 $space 0;

      &:last-child {
        margin-bottom:0;
      }

    }

    label {
      font-size:$maintitle_size;
      //margin:0 0 0 $space/2;

      em {
        color:$desc_color;
        font-size:$title_size;
        margin:0 0 0 $space/2;

        &:first-child {
          margin-left:0;
        }

      }

    }

    .ck-title {
      display:block;
      line-height:$maintitle_size;
      margin:0 0 $space 0;
    }

    input[type="text"], 
    input[type="number"], 
    input[type="password"], 
    textarea {
      font-size:$title_size;
      color:$text_color;
      text-indent:$space;
      width:100%;
      height:20px;
      line-height:20px;
      padding:((60px/2) - 20px) 0;
      border:1px solid rgb(185,185,185);
      @include box-shadow(inset 0px 2px 3px 0px rgba(0,0,0,0.15));
      @include border-radius($radius);
      @include user-select(text);
    }
    
    input[type="number"] {
        width: 80px;
    }

    textarea {
      height:(352px/2);
    }

  }

}

.ck-banner-unit {
  background:#fff;
  padding: $space/2;
  margin-bottom:$morespace;
  //margin-top: $nav_height;
  font-size:13px;
  border-bottom:1px solid rgba(0,0,0,.2);
  @include box-shadow(0 1px 2px rgba(0,0,0,.1));
  //($nav_height - $title_size - 20 + $space)
}

.ck-blank-unit {
  @extend %ck-unit;
  @extend %unit-parts;

  .ck-unit-wrap > div {
    @extend %item;
    padding:$space 0;
    display:block;
    border:none;
    text-align:center;
    font-size:$maintitle_size;
  }

}
