html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  font: 11px Helvetica, sans-serif;
  color: #252525;
  background: #666666;
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: #3377aa;
  -webkit-touch-callout: none;
}

.btn, .ck-modal, .moui-modalview .wrapper > header button {
  display: inline-block;
  padding: 0;
  width: 80px;
  height: 28px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: #81858b;
  border: solid 1px #bcbcbc;
  background-image: -webkit-linear-gradient(bottom, #cccccc, #ffffff);
  background-image: -moz-linear-gradient(bottom, #cccccc, #ffffff);
  background-image: linear-gradient(bottom, #cccccc, #ffffff);
  font-size: 13px;
  color: #252525;
  text-shadow: 0 1px white;
  line-height: 28px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.btn:hover, .ck-modal:hover, .moui-modalview .wrapper > header button:hover {
  -webkit-box-shadow: inset 0 2px 3px rgba(129, 129, 129, 0.5);
  -moz-box-shadow: inset 0 2px 3px rgba(129, 129, 129, 0.5);
  box-shadow: inset 0 2px 3px rgba(129, 129, 129, 0.5);
  background-image: -webkit-linear-gradient(bottom, #cccccc, #ffffff);
  background-image: -moz-linear-gradient(bottom, #cccccc, #ffffff);
  background-image: linear-gradient(bottom, #cccccc, #ffffff);
}
.btn:hover span, .ck-modal:hover span, .moui-modalview .wrapper > header button:hover span {
  position: relative;
  top: 1px;
}

.btn[data-default=true], [data-default=true].ck-modal, .moui-modalview .wrapper > header button[data-default=true] {
  background-color: #81858b;
  border: solid 1px #9f9f9f;
  background-image: -webkit-linear-gradient(bottom, #1366a4, #278cd7);
  background-image: -moz-linear-gradient(bottom, #1366a4, #278cd7);
  background-image: linear-gradient(bottom, #1366a4, #278cd7);
  color: #fff;
  text-shadow: 0 1px black;
}
.btn[data-default=true]:hover, [data-default=true].ck-modal:hover, .moui-modalview .wrapper > header button[data-default=true]:hover {
  background-color: #81858b;
  -webkit-box-shadow: 0 1px white, inset 0 2px 3px rgba(117, 117, 117, 0.51);
  -moz-box-shadow: 0 1px white, inset 0 2px 3px rgba(117, 117, 117, 0.51);
  box-shadow: 0 1px white, inset 0 2px 3px rgba(117, 117, 117, 0.51);
  background-image: -webkit-linear-gradient(bottom, #1366a4, #278cd7);
  background-image: -moz-linear-gradient(bottom, #1366a4, #278cd7);
  background-image: linear-gradient(bottom, #1366a4, #278cd7);
}

.ck-header, .moui-modalview .wrapper > header {
  z-index: 10;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.ck-topbar, .moui-modalview .wrapper > header > div {
  height: 42.5px;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35), inset 0 1px #90806a;
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35), inset 0 1px #90806a;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35), inset 0 1px #90806a;
}

.ck-top-title, .moui-modalview .wrapper > header h1 {
  font-size: 17px;
  line-height: 42.5px;
  text-align: center;
  display: block;
  margin: 0 55px;
}

.ck-baseview {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  -webkit-transition-delay: 200ms;
  -moz-transition: -moz-transform 400ms ease-in-out 200ms;
  transition: transform 400ms ease-in-out 200ms;
}
.ck-baseview .ck-header, .ck-baseview .moui-modalview .wrapper > header, .moui-modalview .ck-baseview .wrapper > header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  -webkit-transform: translateY(-42.5px);
  -moz-transform: translateY(-42.5px);
  -ms-transform: translateY(-42.5px);
  transform: translateY(-42.5px);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  -moz-transition: -moz-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
}
.ck-baseview .ck-topbar, .ck-baseview .moui-modalview .wrapper > header > div, .moui-modalview .ck-baseview .wrapper > header > div {
  background: -webkit-linear-gradient(bottom, #78624f, #846f5b);
  background: -moz-linear-gradient(bottom, #78624f, #846f5b);
  background: linear-gradient(bottom, #78624f, #846f5b);
}
.ck-baseview .ck-topbar .ck-top-nav, .ck-baseview .moui-modalview .wrapper > header > div .ck-top-nav, .moui-modalview .ck-baseview .wrapper > header > div .ck-top-nav, .ck-baseview .ck-topbar .ck-top-action, .ck-baseview .moui-modalview .wrapper > header > div .ck-topbar .ck-top-action, .ck-baseview .ck-topbar .moui-modalview .wrapper > header > div .ck-top-action, .moui-modalview .ck-baseview .wrapper > header > div .ck-topbar .ck-top-action, .moui-modalview .ck-baseview .ck-topbar .wrapper > header > div .ck-top-action, .ck-baseview .ck-topbar .moui-modalview .wrapper > header > div .ck-top-action, .ck-baseview .moui-modalview .wrapper > header > div .ck-topbar .ck-top-action, .ck-baseview .moui-modalview .wrapper > header > div .ck-top-action, .moui-modalview .ck-baseview .moui-modalview .wrapper > header > div .ck-top-action, .moui-modalview .ck-baseview .ck-topbar .wrapper > header > div .ck-top-action, .moui-modalview .ck-baseview .wrapper > header > div .ck-topbar .ck-top-action, .ck-baseview .moui-modalview .ck-baseview .wrapper > header > div .ck-top-action, .moui-modalview .ck-baseview .wrapper > header > div .ck-top-action, .ck-baseview .ck-topbar .ck-top-search, .ck-baseview .moui-modalview .wrapper > header > div .ck-topbar .ck-top-search, .ck-baseview .ck-topbar .moui-modalview .wrapper > header > div .ck-top-search, .moui-modalview .ck-baseview .wrapper > header > div .ck-topbar .ck-top-search, .moui-modalview .ck-baseview .ck-topbar .wrapper > header > div .ck-top-search, .ck-baseview .moui-modalview .wrapper > header > div .ck-topbar .ck-top-search, .ck-baseview .moui-modalview .wrapper > header > div .ck-topbar .ck-top-search, .moui-modalview .ck-baseview .moui-modalview .wrapper > header > div .ck-topbar .ck-top-search, .ck-baseview .ck-topbar .moui-modalview .wrapper > header > div .ck-top-search, .ck-baseview .ck-topbar .moui-modalview .wrapper > header > div .ck-top-search, .moui-modalview .ck-baseview .ck-topbar .moui-modalview .wrapper > header > div .ck-top-search, .moui-modalview .ck-baseview .wrapper > header > div .ck-topbar .ck-top-search, .ck-baseview .moui-modalview .ck-baseview .wrapper > header > div .ck-topbar .ck-top-search, .moui-modalview .ck-baseview .wrapper > header > div .ck-topbar .ck-top-search, .moui-modalview .ck-baseview .ck-topbar .wrapper > header > div .ck-top-search, .ck-baseview .moui-modalview .ck-baseview .ck-topbar .wrapper > header > div .ck-top-search, .moui-modalview .ck-baseview .ck-topbar .wrapper > header > div .ck-top-search, .ck-baseview .ck-topbar .moui-modalview .wrapper > header > div .ck-top-search, .ck-baseview .moui-modalview .wrapper > header > div .ck-topbar .ck-top-search, .ck-baseview .moui-modalview .wrapper > header > div .ck-top-search, .moui-modalview .ck-baseview .moui-modalview .wrapper > header > div .ck-top-search, .moui-modalview .ck-baseview .ck-topbar .moui-modalview .wrapper > header > div .ck-top-search, .moui-modalview .ck-baseview .moui-modalview .wrapper > header > div .ck-topbar .ck-top-search, .moui-modalview .ck-baseview .moui-modalview .wrapper > header > div .ck-top-search, .moui-modalview .ck-baseview .moui-modalview .wrapper > header > div .ck-top-search, .ck-baseview .ck-topbar .moui-modalview .ck-baseview .wrapper > header > div .ck-top-search, .ck-baseview .moui-modalview .ck-baseview .wrapper > header > div .ck-topbar .ck-top-search, .ck-baseview .moui-modalview .ck-baseview .wrapper > header > div .ck-top-search, .ck-baseview .moui-modalview .ck-baseview .wrapper > header > div .ck-top-search, .moui-modalview .ck-baseview .ck-topbar .wrapper > header > div .ck-top-search, .moui-modalview .ck-baseview .wrapper > header > div .ck-topbar .ck-top-search, .ck-baseview .moui-modalview .ck-baseview .wrapper > header > div .ck-top-search, .moui-modalview .ck-baseview .wrapper > header > div .ck-top-search {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 15px;
  left: 15px;
  -webkit-box-shadow: inset 0px 0px 2px black;
  -moz-box-shadow: inset 0px 0px 2px black;
  box-shadow: inset 0px 0px 2px black;
}
.ck-baseview .ck-topbar .ck-top-title, .ck-baseview .moui-modalview .wrapper > header > div .ck-top-title, .moui-modalview .ck-baseview .wrapper > header > div .ck-top-title, .ck-baseview .ck-topbar .moui-modalview .wrapper > header h1, .moui-modalview .wrapper > header .ck-baseview .ck-topbar h1, .ck-baseview .moui-modalview .wrapper > header > div h1, .moui-modalview .ck-baseview .wrapper > header > div h1 {
  color: #fff;
  text-shadow: 0px 1px 0px black;
}
.ck-baseview .ck-topbar .ck-top-action, .ck-baseview .moui-modalview .wrapper > header > div .ck-top-action, .moui-modalview .ck-baseview .wrapper > header > div .ck-top-action, .ck-baseview .ck-topbar .ck-top-search, .ck-baseview .moui-modalview .wrapper > header > div .ck-topbar .ck-top-search, .ck-baseview .ck-topbar .moui-modalview .wrapper > header > div .ck-top-search, .moui-modalview .ck-baseview .wrapper > header > div .ck-topbar .ck-top-search, .moui-modalview .ck-baseview .ck-topbar .wrapper > header > div .ck-top-search, .ck-baseview .ck-topbar .moui-modalview .wrapper > header > div .ck-top-search, .ck-baseview .moui-modalview .wrapper > header > div .ck-topbar .ck-top-search, .ck-baseview .moui-modalview .wrapper > header > div .ck-top-search, .moui-modalview .ck-baseview .moui-modalview .wrapper > header > div .ck-top-search, .moui-modalview .ck-baseview .ck-topbar .wrapper > header > div .ck-top-search, .moui-modalview .ck-baseview .wrapper > header > div .ck-topbar .ck-top-search, .ck-baseview .moui-modalview .ck-baseview .wrapper > header > div .ck-top-search, .moui-modalview .ck-baseview .wrapper > header > div .ck-top-search {
  left: auto;
  right: 15px;
  padding: 0;
  border: 0;
  background: none;
}
.ck-baseview .ck-topbar .ck-top-search, .ck-baseview .moui-modalview .wrapper > header > div .ck-top-search, .moui-modalview .ck-baseview .wrapper > header > div .ck-top-search {
  right: 45px;
}

.ck-wrapper {
  width: 100%;
  overflow: hidden;
}

.ck-footer {
  height: 15px;
  padding: 5px 0 15px 0;
  background: #f2f2f2;
  text-align: center;
}
.ck-footer .copyright {
  font-size: 11px;
  color: #787878;
  margin: 5px 0;
}

.ck-card {
  width: 100%;
  padding-top: 42.5px;
  background: #f2f2f2;
  -webkit-box-shadow: -3px 0px 10px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -3px 0px 10px 0px rgba(0, 0, 0, 0.35);
  box-shadow: -3px 0px 10px 0px rgba(0, 0, 0, 0.35);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}
.ck-card[cktype="loading"] {
  font-size: 15px;
  color: #787878;
  text-align: center;
}
.ck-card[cktype="loading"] span {
  display: block;
  height: 100%;
  padding-top: 50%;
}

.ck-interim {
  position: absolute;
  top: 0;
  left: 0;
}

.ck-moving {
  position: relative;
  z-index: 10;
}

.ck-box, .ck-list {
  margin: 15px;
  background-color: #fff;
  border: 1px solid white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
}

.ck-text {
  margin: 15px;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}

.ck-item {
  border-bottom: 1px solid #dadada;
  margin: 0 20px;
  padding: 8.5px 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.ck-item .ck-link {
  padding: 6.5px 0;
  font-size: 15px;
  color: #252525;
  display: block;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAUAQMAAABh4lUrAAAAA3NCSVQICAjb4U/gAAAABlBMVEWZmZn///+D7jMZAAAACXBIWXMAAAsSAAALEgHS3X78AAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABV0RVh0Q3JlYXRpb24gVGltZQAxMi82LzEyMJ43WQAAADhJREFUCJljsH/AIP+Aof8Bw/EHDI8fMHx8wPDjAcOfBIZ/Cgz/GUAIyAByf4ClHoOV9YO12D8AAE8eHDNCwuzUAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 5.5px 10px;
}
.ck-item:last-child {
  border: none;
}
.ck-item:hover {
  margin: 0 10px;
  border: none;
}
.ck-item:hover .ck-link {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background: #3377aa;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}
.ck-item:hover + .ck-item {
  border-top: 1px solid #dadada;
}

.ck-link-img {
  -webkit-touch-callout: inherit;
}

.moui-modalview {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  z-index: 110;
}
.moui-modalview .wrapper {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  -moz-transition: -moz-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
}
.moui-modalview .wrapper > header {
  position: relative;
}
.moui-modalview .wrapper > header > div {
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(bottom, #dfdfdf, #fcfcfc);
  background-image: -moz-linear-gradient(bottom, #dfdfdf, #fcfcfc);
  background-image: linear-gradient(bottom, #dfdfdf, #fcfcfc);
}
.moui-modalview .wrapper > header div.confirm, .moui-modalview .wrapper > header div.cancel {
  display: inline-block;
  margin: 7.5px 0 0 7.5px;
  float: left;
}
.moui-modalview .wrapper > header div.confirm {
  margin: 7.5px 7.5px 0 0;
  float: right;
}
.moui-modalview .wrapper > header button {
  width: 55px;
}
.moui-modalview .shd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: -webkit-radial-gradient(rgba(127, 127, 127, 0.5), rgba(0, 0, 0, 0.7));
  background-image: -moz-radial-gradient(rgba(127, 127, 127, 0.5), rgba(0, 0, 0, 0.7));
  background-image: radial-gradient(rgba(127, 127, 127, 0.5), rgba(0, 0, 0, 0.7));
  -webkit-transition: opacity 400ms ease-in-out;
  -moz-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}
.moui-modalview.active {
  visibility: visible;
}
.moui-modalview.active .shd {
  opacity: 1;
}

.moui-modalview-content {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #f2f2f2;
}
