
.topbox h2 {
    /*font-size:13px;*/
    /*border-bottom:1px solid #dadada;*/
}
.topbox .mods {
    padding:5px 0 0 20px;
}
.topbox .mods li {
    list-style:square;
}

.democode {
  margin-left:-15px;
  font-size:14px;
}

.syntaxhighlighter {
  /*overflow:hidden!important;*/
  /*overflow-x:scroll!important;*/
  /*-webkit-overflow-scrolling: touch;*/
  padding:0px;
}

#console {
  height:5000px;
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
}

.ck-navdrawer > header h2 {
  display: inline-block;
  padding: 8px 23px;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
}
.ck-navdrawer .search {
  background: #242424;
  border-bottom: 1px solid #424242;
}
.ck-navdrawer .search a {
  display: block;
  height: 42.5px;
  line-height: 42.5px;
  padding: 0 25px;
  color: #525252;
  font-size: 13px;
  -webkit-box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.35);
}
.ck-navdrawer h6 {
  background: #3b3b3b;
  color: #919191;
  padding: 5px 25px;
  font-size: 11px;
  line-height: 13px;
}
.ck-navdrawer li {
  border-top: 1px solid #414141;
  border-bottom: 1px solid #292929;
  background: #323232;
  padding: 2px;
}
.ck-navdrawer li a {
  display: block;
  padding: 8px 23px;
  font-size: 13px;
  color: #fff;
  font-weight: bold;
}
.ck-navdrawer li:first-child {
  border-top: 0;
}
.ck-navdrawer li:last-child {
  border-bottom: 0;
}

.ck-top-nav .notice {
  position:absolute;
  right:5px;
  top:5px;
  background:#f00;
  display:inline-block;
  width:10px;
  height:10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border:1px solid #fff;
  background-image:-webkit-linear-gradient(bottom, #c60006, #e20007);
  background-image:-moz-linear-gradient(bottom, #c60006, #e20007);
  background-image:linear-gradient(bottom, #c60006, #e20007);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
