
.ck-card, // @deprecated
.ckd-page-card,
.ckd-page-title,
.ckd-page-nav,
.ckd-page-actions,
.ckd-page-footer {
  display:none;
}

.ck-page-card {
  display:block;
  background:$ck_view_color;
  min-height:100%;
  overflow:hidden;
  margin:0;
  font:$moui_text_size Helvetica,sans-serif;
  color:$moui_text_color;
  line-height:1.6;
  @include box-shadow(0px 0px 6px rgba(0,0,0,.8));
  @include transition(transform 0.3s);
  -webkit-backface-visibility: hidden;

  &.topbar-enabled {

    .ck-header {
      @include transform(translateY(0));
    }

  }

  &[data-fixed-minheight="false"] {
    @include box-shadow(none);
  }

  &[data-page-active="false"] {
    display:none;
  }

  &[data-deck-active="false"] {
    display:none;
  }

  &[data-deck="navdrawer"] {
    position:absolute;
    top:0;
    left:0;
    width:280px;
    @include transform(translateX(0));
    @include box-shadow(none);

    .ck-page-link-mask {
      display:none;
    }

    &[data-deck-active="false"] {
      display:block;
      z-index:-1;
      bottom:0;
    }

    &[data-page-active="false"] {
      display:none;
    }

  }

  &[data-deck="modalview"] {
    display:block;
  }

  &[data-deck-active="false"][data-page-active="true"][data-curdeck="navdrawer"] {
    display:block;
    @include transform(translateX(280px));
    z-index:$moui_z_step;
    position:fixed;
    top:0;
    left:0;
    right:0;

    .ck-header {
      position:relative;
      @include transform(translateY(0));

      .ck-bugfix-fixed & {
        display:none;
      }

    }

    .ck-top-banner {
      padding-top:0;
    }

    .ck-top-banner-inner {
      border-top:0;
    }

    .ck-article {
      padding-top:0;
    }

    .ck-page-link-mask {
      display:block;
    }

  }

  &[data-deck-active="false"][data-page-active="true"][data-curdeck="modalview"] {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    //@include box-shadow(0px 0px 10px rgba(0,0,0,.35));
    //@include transform(scale(0.9));
    //@include transform-origin(50% 50%);

    &[data-deck="modalview"] {
      position:static;
    }

  }

}

.ck-page-card {

  pre {
    word-wrap: break-word;
  }

  a {
    text-decoration:none;
    color:$moui_active_color;
    -webkit-tap-highlight-color: $moui_highlight_color;
  }

  .ck-link-mask {
    //@include user-select(none);
  }

}

.ck-page-link-mask {
  display:none;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:$moui_z_view + $moui_z_step;
}

.ck-header {
  @extend %ck-header;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  @include user-select(none);
  z-index:$moui_z_view + $moui_z_step;
  @include transition(transform 0.3s);
  @include transform(translateY(-$moui_nav_h));

  .ck-in-webview & {
    position:relative;
    @include transform(translateY(0));
  }

  .ck-in-hybird & {
    display:none;
  }

}

.ck-header-shd {
  background:#333;
  opacity:.95;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.ck-top-title {
  font-size:$moui_article_size;
  font-weight:bold;
  line-height: $moui_nav_h;
  text-align:center;
  display:block;
  position:absolute;
  left: $moui_space*4 + 0px;
  right: $moui_space*4 + 0px;
  top:0;
  color:#fff;
  @include text-shadow(0px 1px 0px rgba(0,0,0,1));
}

.ck-top-overflow-items {
  display:none;
}

.ck-top-actions .ck-top-act > *,
.ck-top-overflow,
.ck-top-nav {
  float:right;
  display:inline-block;
  margin:0;
  padding:0;
  text-decoration:none;
  text-indent:-800px;
  overflow:hidden;
  @include box-shadow(none);
  @include user-select(none);

  width:$ck_top_btn_size;
  height:$ck_top_btn_size;
  background-color: transparent;
  background-size:24px 24px;
  background-repeat:no-repeat;
  background-position:7px 7px;
  border:1px solid transparent;

  &:active {
    background-color: transparent;
    @include box-shadow(inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1));
  }

}

.ck-top-nav {
  float:left;
  position:relative;
  background-image:none;

  &.ck-link {
    background-image:inline-image('menu.png');
  }

}

.ck-top-actions {
  float:right;
  position:relative;
  z-index:1;

  .ck-option {
    display:none;
  }

}

.ck-top-overflow {
  background-image:inline-image('more.png');

  .ck-top-act {
    display:none;
  }

}


.ck-top-banner {
  display:none;
  font-size:13px;
  background:#fff;
  padding-top:$moui_nav_h;
  position:relative;
  border-bottom:1px solid rgba(0,0,0,.2);
  @include box-shadow(0 1px 2px rgba(0,0,0,.1));

  .ck-in-webview &,
  .no-header & {
    padding-top:0;

    .ck-top-banner-inner {
      border-top:0;
    }

  }

  .with-banner & {
    display:block;
  }

}

.ck-top-banner-inner {
  padding: $moui_space/2;
  border-top:1px dashed $moui_border_color;

  [data-cfg-plain="true"] & {
    padding:0;
  }

}

.ck-article {
  padding-top:$moui_nav_h + 5px;

  .ck-in-webview &,
  .with-banner &,
  .no-header & {
    padding-top:0;
  }

}

.ck-footer {
  height:15px;
  margin:30px 0 0 0;
  padding:0 0 15px 0;
  background:$ck_view_color;
  text-align:center;
  
  .copyright {
    font-size:$moui_text_size;
    color:$moui_desc_color;
    margin:5px 0;
  }

}

