
.moui-folder {
  display:block;

  //& > .hd,
  & > header {
    @extend %moui-unfold-icon;
    display:inline-block;
    background-position:left center;
    background-size:10px;
    font-size:$moui_maintitle_size;
    padding:0 0 0 (10px + 10px);
    margin:0;
  }

  & > .content {
    display:none;
    //@include transition(height 0.3s);
  }

  &.enabled {

    //& > .hd,
    & > header {
      @extend %moui-fold-icon;
    }
  
    & > .content {
      display:block;
    }

  }

}
