
.moui-switch {
  @extend %block;
  border:0;
  position:relative;
  width:75px;
  text-align:left;

  .block {
    @extend %block;
    width:36px + 3px;
    position:absolute;
    top:0;
    left:0;
    @include transition(left 0.1s ease-in);
  }

  .enable-text,
  .disable-text {
    @extend %block;
    @extend %block-pressed;
    width:36px;
    position:absolute;
    right:0;
    top:0;
    font-weight:normal;
  }

  .enable-text {
    @extend %block-main;
    @extend %block-main-pressed;
    right:auto;
    left:0;
  }

  &.enabled {
  
    .block {
      left: 36px - 3px;
    }

  }

}
