.moui-slider {
    position:relative;
    display:inline-block;
    @include user-select(none);

    .slider-field {
        display:none;
    }

    .slider-selected,
    .slider-hover {
        display:none;
        position:absolute;
        left:0;
    }

}
