
.moui-tagselector {
  overflow:hidden;
  @include user-select(none);

  .option {
    @extend %tag-option;
  }

}

%tag-option {
  border:1px solid #dadada;
  @include border-radius($radius);
  background:$view_color;
  color:$text_color;
  display:inline-block;
  line-height:(36px/2);
  padding:5px (14px/2);
  margin:(8px/2);
  float:left;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  @include appearance(none);

  a {
    display:inline-block;
    float:left;
    color:$text_color;
    text-decoration:none;
    width:100%;
  }

  &.enabled {
    background:#3276AF;
    border-color:#3276AF;
    @include box-shadow(0px 1px 0px 0px rgb(255,255,255));
    color:#fff;

    a {
      color:#fff;
    }

  }

}
