
.moui-actionview {
  display:none;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: $zindex_overlay + $zindex_step * 2;
  @include user-select(none);

  .wrapper {
    height:100%;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;

    .content {
      padding:$space/2 $space $space $space;
      overflow:hidden;

      & > header {
        height: $nav_height;

        h1 {
          font-size:$article_size;
          line-height: $nav_height;
          display:block;
          color:#fff;
          border-bottom:1px solid #ccc;
          &:empty {
            border:none;
          }
        }

      }

      & > .desc {
        color:#fff;
        padding:$space 0;
      }

      & > article {
        position:absolute;
        bottom:$space * 3 + $button_height;
        left:$space;
        right:$space;
      }

    }

  }

  & > footer {
    position:absolute;
    bottom:0;
    left:0;
    background:#000;
    opacity:0.8;
    width:100%;
    height:$space * 2 + $button_height;

    button {
      @extend %button;
      line-height:33px;
      height:33px;
      width:auto;
      position:absolute;
      top:$space;
      left:$space;
      right:$space;

      &.confirm {
        display:none;
      }

    }

    &.multi {
    
      button {
        right:50%;
        margin:0 ($space/2) 0 0px;
      
        &.confirm {
          display:inline-block;
          left:50%;
          right:$space;
          margin:0 0 0 ($space/2);
        }

      }

    }

  }

  .shd {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#121212;
    opacity:0.8;
    z-index:-1;
  }

  &.active {
    display:block;
  }

}

