
.moui-actionview {
  $_morespace: 50px/2;
  $_space: (40px/2);
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: $moui_z_overlay + $moui_z_step * 2;
  @include user-select(none);

  .wrapper {
    height:100%;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
    position:relative;
    opacity:0;
    @include transform(translateY(50%));
    @include transition(transform 0.3s 0.1s, opacity 0.2s 0.1s);

    .content {
      padding:$_morespace 0 $_morespace 0;
      overflow:hidden;
      position:relative;

      & > header {
        padding:0 $_morespace;

        h1 {
          padding:0 0 10px 0;
          font-size:$moui_hdtitle_size;
          height:$moui_hdtitle_size;
          line-height:$moui_hdtitle_size;
          display:block;
          color:#fff;
          border-bottom:1px solid #666;

          &:empty {
            border:none;
            padding:0;
          }

        }

      }

      & > .desc {
        color:#fff;
        padding:$_morespace;
        font-size:$moui_maintitle_size;
      }

      & > article {
        position:absolute;
        bottom:$moui_bigbtn_h + 2*$_space + 2*$_morespace + $_morespace;
        left:$_morespace;
        right:$_morespace;
        background:#343434;
        border: solid 1px #141414;
        padding:0 18px;
        @include border-radius($moui_radius);
        @include box-shadow(inset 0px 1px 0px #494949);

        &:empty {
            @include box-shadow(none);
            border:none;
            background:none;
        }

        .option {
            @extend %moui-action-option;
        }

      }

    }

    body.no-cardscroll & {
      -webkit-overflow-scrolling: auto;
      //overflow-y:visible;
      //height:auto;
    }

  }

  & > footer {
    position:fixed;
    bottom:0;
    left:0;
    border-top:1px solid #000;
    background:rgba(13,13,13,0.95);
    @include box-shadow(inset 0px 1px 0px #212121);
    width:100%;
    height:$moui_bigbtn_h + 2*$_space;
    //padding:$_space 0;
    overflow:hidden;
    text-align:center;
    @include transform(translateY(100%));
    @include transition(transform 0.3s);

    .cancel,
    .confirm {
      @extend %moui-button;
      line-height:$moui_bigbtn_h;
      height:$moui_bigbtn_h;
      width:auto;
      position:absolute;
      left:$_morespace;
      right:$_morespace;
      top:$_space;
      margin:0;
    }

    .confirm {
      display:none;
    }

    .cancel {
      border-color:#101010;
      background:#343434;
      @include box-shadow(inset 0 1px 0px #494949);
      color:#fff;
      @include text-shadow(0 1px 1px #000);

      &:active {
        @include box-shadow(none);
      }

    }

    &.multi {
    
      .confirm {
        display:inline-block;
        left:50%;
        margin:0 0 0 ($_morespace/4);
      }

      .cancel {
        right:50%;
        margin:0 ($_morespace/4) 0 0;
      }

    }

  }

  .shd {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(13,13,13,0.95);
    opacity:0;
    @include transition(opacity 0.5s);
  }

  &.confirm-kind {

    .content header {
      padding-top:30%;
    }

  }

  &.rendered {
    display:block;
  }

  &.active {

    .shd {
      opacity:1;
    }

    .wrapper {
      opacity:1;
      @include transform(translateY(0));
    }

    & > footer {
      @include transform(translateY(0));
    }

  }

}

%moui-action-option {
  display:block;
  box-sizing:content-box;
  width:100%;
  color:#fff;
  background:none;
  font-size:$moui_maintitle_size;
  font-weight:normal;
  padding:10px 0;
  margin:0;
  @include border-radius(0);
  border:none;
  border-top:solid 1px #3e3e3e;
  border-bottom:solid 1px #282828;
  text-align:center;
  @include box-shadow(none);
  @include text-shadow(none);
  @include appearance(none);
  @include user-select(none);
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
%moui-action-option:active,
%moui-action-option.enabled {
  color:$moui_active_color;
}

%moui-action-option:first-child {
  border-top:none;
}
%moui-action-option:last-child {
  border-bottom:none;
}

