
.moui-actionview {
  $space: 50px/2;
  display:none;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: $zindex_overlay + $zindex_step * 2;
  @include user-select(none);

  .wrapper {
    height:100%;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;

    .content {
      padding:0 $space $space $space;
      overflow:hidden;

      & > header {
        height: $nav_height;

        h1 {
          font-size:$article_size;
          line-height: $nav_height;
          display:block;
          color:#fff;
          border-bottom:1px solid #666;
          &:empty {
            border:none;
          }
        }

      }

      & > .desc {
        color:#fff;
        padding:$space 0;
      }

      & > article {
        position:absolute;
        bottom:$space * 3 + $button_height;
        left:$space;
        right:$space;
        background:#1a1a1a;
        border: solid 1px #141414;
        padding:0 18px;
        margin-bottom:-1px;
        @include border-radius(5px);
        @include box-shadow(0px 1px 4px 0px rgba(0,0,0,0.3));

        &:empty {
            @include box-shadow(none);
            border:none;
        }

        .option {
            @extend %action-option;
        }

      }

    }

  }

  & > footer {
    position:absolute;
    bottom:0;
    left:0;
    background:#000;
    opacity:0.8;
    width:100%;
    height:$space * 2 + $button_height;

    button {
      @extend %button;
      line-height:33px;
      height:33px;
      width:auto;
      position:absolute;
      top:$space;
      left:$space;
      right:$space;

      &.confirm {
        display:none;
      }

    }

    &.multi {
    
      button {
        right:50%;
        margin:0 ($space/2) 0 0px;
      
        &.confirm {
          display:inline-block;
          left:50%;
          right:$space;
          margin:0 0 0 ($space/2);
        }

      }

    }

  }

  .shd {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(25,25,25,0.95);
    z-index:-1;
  }

  &.active {
    display:block;
  }

  &.confirm-kind {

    .content header {
      margin-top:30%;
    }

  }

}

%action-option {
  display:block;
  box-sizing:content-box;
  width:100%;
  color:#fff;
  background:#1a1a1a;
  font-size:$title_size;
  padding:10px 0;
  border:none;
  border-bottom:solid 1px #141414;
  text-align:center;
  -webkit-tap-highlight-color: rgba(0,0,0,0.2);
  @include appearance(none);

}
%action-option:active,
%action-option.enabled {
  background-color:$active_color;
  text-shadow:0 0.1rem 0 rbga(255,255,255,0.25);
  padding-left:5px;
  padding-right:5px;
  @include transform(translateX(-5px));
  @include border-radius(3px);
}

%action-option:last-child {
  border-bottom:none;
}

