
.moui-actionview {
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: $zindex_overlay + $zindex_step * 2;
  overflow:auto;
  @include flex-direction(column);
  @include justify-content(center);

  .wrapper {
    position:relative;
    background:#fff;
    width:350px;
    margin:0 auto 0 auto;
    @include flex(0 0 auto);
    opacity:0;
    @include transform(translateY(100px));
    @include transition(transform 0.3s, opacity 0.3s);

    .content {

      & > header {
        margin:20px;

        h1 {
          font-size:16px;
        }

      }

      & > .desc {
        margin:20px 20px 40px 20px;
        font-size:14px;
      }

    }

  }

  & > footer {
    position:relative;
    background:#fff;
    width:350px;
    margin:0 auto;
    text-align:center;
    height:$bigbutton_height;
    border-top:1px solid $border_color;
    @include flex(0 1 auto);
    opacity:0;
    @include transform(translateY(100px));
    @include transition(transform 0.3s, opacity 0.3s);

    .cancel,
    .confirm {
      display:inline-block;
      line-height:$bigbutton_height;
      height:$bigbutton_height;
      width:auto;
      position:absolute;
      left:0;
      right:0;
      top:0;
      margin:0;
      font-size:14px;
      cursor:pointer;

      &:hover {
        background:$highlight_color;
      }

    }

    .confirm {
      display:none;
    }

    &.multi {
    
      .confirm {
        display:inline-block;
        left:50%;
        margin:0 0 0 0;
        border-left:1px solid $border_color;
      }

      .cancel {
        right:50%;
        margin:0 0 0 0;
      }

    }

  }

  .shd {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(13,13,13,0.5);
    opacity:0;
    @include transition(opacity 0.5s);
  }

  &.rendered {
    @include display-flex(flex);
  }

  &.active {

    .shd {
      opacity:1;
    }

    .wrapper {
      opacity:1;
      @include transform(translateY(0));
    }

    & > footer {
      opacity:1;
      @include transform(translateY(0));
    }

  }

}

