
@import "moui/base";
@import "moui/control/switch";
@import "moui/control/folder";
@import "moui/picker/segment";
@import "moui/picker/tags";
@import "moui/picker/actions";
@import "moui/picker/slider";
@import "moui/picker/select";
@import 'moui/actionview/default';
@import 'moui/modalview/default';
@import 'moui/growl/default';

%ck-header {
  height: $moui_nav_h;
  @include box-shadow(0 1px 2px rgba(0,0,0,.35));
  border-bottom:1px solid rgba(0,0,0,.2);
  z-index:$moui_z_step;

  a {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

}

%ck-btn {
  @extend %moui-button;
}

%ck-mainbtn {
  @extend %moui-main-button;
}
