
@import "card/page";
@import "card/common/scaffold";
@import "card/box";
@import "card/common/item";
@import "card/list";
@import "card/mini";
@import "card/form";

ck-card,
ck-part {
  display:none;
}

.ck-blank-card {
  @extend %ck-card;
  @extend %card-parts;

  .ck-card-wrap > div {
    @extend %item;
    padding:$moui_space 0;
    display:block;
    border:none;
    text-align:center;
    font-size:$moui_maintitle_size;
  }

}

